<!DOCTYPE html>
<html>
  <head>
    <title>Perfectpx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type='text/javascript'>
      window.userHeaderIconURL = '<%= image_url('user.png') %>';
      window.splashImageURL = '<%= image_url('splash.jpg') %>';
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
